/* RESET */
#teacss-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    overflow: visible;
    line-height: 1;
}
#teacss-ui html, #teacss-ui body, #teacss-ui div, #teacss-ui span, #teacss-ui applet, #teacss-ui object, #teacss-ui iframe,
#teacss-ui h1, #teacss-ui h2, #teacss-ui h3, #teacss-ui h4, #teacss-ui h5, #teacss-ui h6, #teacss-ui p, #teacss-ui blockquote, #teacss-ui pre,
#teacss-ui a, #teacss-ui abbr, #teacss-ui acronym, #teacss-ui address, #teacss-ui big, #teacss-ui cite, #teacss-ui code,
#teacss-ui del, #teacss-ui dfn, #teacss-ui em, #teacss-ui img, #teacss-ui ins, #teacss-ui kbd, #teacss-ui q, #teacss-ui s, #teacss-ui samp,
#teacss-ui small, #teacss-ui strike, #teacss-ui strong, #teacss-ui sub, #teacss-ui sup, #teacss-ui tt, #teacss-ui var,
#teacss-ui b, #teacss-ui u, #teacss-ui i, #teacss-ui center,
#teacss-ui dl, #teacss-ui dt, #teacss-ui dd, #teacss-ui ol, #teacss-ui ul, #teacss-ui li,
#teacss-ui fieldset, #teacss-ui form, #teacss-ui label, #teacss-ui legend,
#teacss-ui table, #teacss-ui caption, #teacss-ui tbody, #teacss-ui tfoot, #teacss-ui thead, #teacss-ui tr, #teacss-ui th, #teacss-ui td,
#teacss-ui article, #teacss-ui aside, #teacss-ui canvas, #teacss-ui details, #teacss-ui embed,
#teacss-ui figure, #teacss-ui figcaption, #teacss-ui footer, #teacss-ui header, #teacss-ui hgroup,
#teacss-ui menu, #teacss-ui nav, #teacss-ui output, #teacss-ui ruby, #teacss-ui section, #teacss-ui summary,
#teacss-ui time, #teacss-ui mark, #teacss-ui audio, #teacss-ui video, #teacss-ui button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
    border: none;
}
#teacss-ui ol, #teacss-ui ul {
    list-style: none;
}
#teacss-ui table {
    border-collapse: collapse;
    border-spacing: 0;
}
#teacss-ui caption, #teacss-ui th, #teacss-ui td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
#teacss-ui q, #teacss-ui blockquote {
    quotes: none;
}
#teacss-ui a img {
    border: none;
}
#teacss-ui article, #teacss-ui aside, #teacss-ui details, #teacss-ui figcaption, #teacss-ui figure,
#teacss-ui footer, #teacss-ui header, #teacss-ui hgroup, #teacss-ui menu, #teacss-ui nav, #teacss-ui section {
    display: block;
}


#teacss-ui .ui-accordion-header {
    font-family: Gill Sans, Arial, sans-serif;
}

#teacss-ui .ui-accordion .ui-accordion-header a {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.teacss_ui_icon {
    position: fixed;
    width: 32px;
    height: 32px;
    background: url("images/teacss_ui_icon.png");
    top: 5px;
    left: 5px;
    display: none;
    cursor: pointer;
    z-index: 1000000;
}

#teacss-ui .teacss-ui-dialog .ui-dialog {
    font-size: 12px !important;
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
}

#teacss-ui .teacss-ui-dialog fieldset {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

#teacss-ui .teacss-ui-dialog fieldset legend {
    font: inherit !important;
    border: none !important;
    color: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit;
}

#teacss-ui .colorpicker input {
    width: inherit;
}

#teacss-ui .teacss-ui-dialog.align-left .ui-dialog {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
}

#teacss-ui .teacss-ui-dialog.align-left .ui-dialog .ui-dialog-content {
    position: absolute;
    height: auto !important;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
}

#teacss-ui .teacss-ui-dialog.align-left .ui-dialog > .ui-accordion {
    height: 100%;
}

#teacss-ui .composer-panel {
    background: #eee;
    position: absolute;
    left: 0;
    right: 2px;
    width: auto !important;
    top: 0;
    bottom: 0;
    padding: 0px 0px;
    color: #000;
}

#teacss-ui .composer-panel.ui-accordion .ui-accordion-content {
    padding: 5px 5px 5px 5px;
    height: auto !important;
}

#teacss-ui .composer-panel h3 {
    font-weight: bold;
}

#teacss-ui .color_control {
    background: url('images/colorpicker_background.png') -14px -15px;
    border: 1px solid black;
}

#teacss-ui .button-select-panel {
    color: #000;
    font-size: 12px !important;
    cursor: pointer;
    background: white;
    border: 1px solid #ccc;
    position: fixed !important;
}

#teacss-ui .button-select-panel > div > .combo-item:hover {
    background: #aaa;
}

#teacss-ui > .colorpicker {
    position: fixed !important;
}

#teacss-ui .colorpicker_submit {
    display: none;
}

#teacss-ui .combo-group {
    padding: 5px;
    background: #ccc !important;
}

#teacss-ui .combo-item {
    padding: 5px;
}

#teacss-ui .combo-item img, #teacss-ui .combo-sprite {
    display: inline-block;
    vertical-align: middle;
}

#teacss-ui .combo-item.selected {
    background: #f90 !important;
}

#teacss-ui .combo-label {
    padding-left: 10px;
}

#teacss-ui .combo-icon {
    display: table-cell;
    text-align: center;
    line-height: 0;
    vertical-align: middle;
}

#teacss-ui .combo-centered .combo-item {
    text-align: center;
}

#teacss-ui .combo-centered .combo-item .combo-label {
    padding: 0;
}

#teacss-ui .icon-button {
    padding: 2px !important;
}

#teacss-ui .icon-button span.ui-button-text {
    background: white;
    text-align: left;
    padding: 0px !important;
}

#teacss-ui .icon-button .combo-item {
    padding: 0;
}

#teacss-ui .only-icons .combo-item {
    padding: 5px;
    display: inline-block;
    text-align: center;
}

#teacss-ui .only-icons .combo-item .combo-label {
    padding: 0;
}

#teacss-ui .ui-label {
    padding: 5px;
}

#teacss-ui .ui-label.ui-disabled {
    opacity: 0.35;
}

#teacss-ui .ui-sorter fieldset > div {
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #1C94C4;
    background: white;
    padding: 2px;
    text-align: center;
}