#functions {
    color: #f5f5dc;
    width: 11;
    border-width: 5;
}
#built-in {
    lighten: #ffcccc;
    darken: #330000;
    saturate: #203c31;
    desaturate: #29332f;
    greyscale: #2e2e2e;
    spin-p: #00ffff;
    spin-n: #00ffff;
    hue: 278;
    saturation: -1200;
    lightness: 9500;
    rounded: 11;
    roundedpx: 3px;
    color: #ff0011;
}
#built-in .is-a {
    color: true;
    color: true;
    color: true;
    number: true;
}
